/*
 * EPUB CSS based on mhui LaTeX template (axist.latex)
 * Adapted from LaTeX table styling to CSS
 */

/* 基础样式 */
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    color: #333;
    font-family: "Source Han Serif SC", "Noto Serif CJK SC", serif;
    font-size: 14px;
    line-height: 1.7;
    padding: 1em;
    margin: auto;
    max-width: 42em;
    background: #ffffff;
}

/* 链接样式 */
a {
    color: #1F4B99;
    text-decoration: none;
}

a:visited {
    color: #1F4B99;
}

a:hover {
    text-decoration: underline;
}

/* 标题样式 - 基于 LaTeX titlesec 设置 */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111;
    font-weight: bold;
    line-height: 1.25;
}

h1 {
    font-size: 2em;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.4em;
}

h3 {
    font-size: 1.17em;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

h4,
h5,
h6 {
    font-size: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.2em;
}

/* 段落 */
p {
    margin: 1em 0;
}

/* 图片 */
img {
    max-width: 100%;
    height: auto;
}

/* 列表样式 - 基于 LaTeX enumitem 设置 */
ul,
ol {
    margin: 0.4em 0;
    padding-left: 1.5em;
}

li {
    margin: 0.35em 0;
}

/* 表格样式 - 基于 mhui LaTeX 模板 */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0 2em 0;
    font-size: 0.9em;
    border: none;
}

/* 表头样式 - 对应 \axisthead{\rowcolor{gray!12}} */
table thead tr,
table tr:first-child {
    background-color: #e8e8e8 !important;
    /* gray!12 */
}

table th {
    padding: 0.3em 0.5em;
    font-weight: bold;
    text-align: left;
    border-top: 0.6pt solid #b3b3b3;
    /* gray!70 */
    border-bottom: 0.6pt solid #b3b3b3;
    border-left: none;
    border-right: none;
}

/* 表格单元格 */
table td {
    padding: 0.3em 0.5em;
    vertical-align: top;
    border: none;
    border-top: 0.6pt solid #b3b3b3;
}

/* 交替行颜色 - 对应 \rowcolors{2}{gray!8}{white} */
table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
    /* gray!8 */
}

table tbody tr:nth-child(odd) {
    background-color: white;
}

/* 代码块 */
pre,
code {
    font-family: "Source Code Pro", "Courier New", monospace;
    font-size: 0.9em;
    background-color: #f5f5f5;
}

pre {
    padding: 0.5em;
    overflow-x: auto;
    border-left: 3px solid #1F4B99;
}

code {
    padding: 0.1em 0.3em;
}

/* 引用块 */
blockquote {
    color: #666;
    margin: 1em 0;
    padding-left: 1em;
    border-left: 3px solid #ddd;
}

/* 水平线 */
hr {
    border: none;
    border-top: 0.3pt solid #b3b3b3;
    margin: 1em 0;
}

/* 响应式设计 */
@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}